<p>book-form works!</p>
<div class="submit-form">
  <!------------------------------------------------------->
  <div *ngIf="!isSubmit">
    <!------------------------------------------------------->
    <div class="form-group">
      <label for="titre">Titre</label>
      <input
        type="text"
        class="form-control"
        id="titre"
        required
        name="titre"
        [(ngModel)]="book.titre"
      />
    </div>
    <div class="form-group">
      <label for="contenue">Contenue</label>
      <input
        type="text"
        class="form-control"
        id="contenue"
        required
        name="contenue"
        [(ngModel)]="book.contenue"
      />
    </div>
    <!------------------------------------------------------->
    <button (click)="saveBook()" class="btn btn-success">Rajouter</button>
    <!------------------------------------------------------->
  </div>
  <!------------------------------------------------------->
  <div *ngIf="isSubmit">
    <!------------------------------------------------------->
    <h4>Le livre a été rajouter</h4>
    <!------------------------------------------------------->
    <button class="btn btn-sucess" (click)="newBook()">
      <!------------------------------------------------------->
      Rajouter un livre
    </button>
  </div>
</div>
