

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{title}}</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="books" class="nav-link">Liste des livres</a>
      </li>

      <li class="nav-item">
        <a routerLink="add" class="nav-link">Rajouter un livre</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">


<h1>
  {{title}} is Runniiiiiiing  \m/
</h1>

<router-outlet></router-outlet>